*.pyc
key_info.py
secret_key.py

# Misc Files
*.pdf
*.docx
*.bak

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# db
*.sqlite3

venv
*.pyc
staticfiles
.env
