html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
/*
body {

  margin-left: 16px;
  background-size:100%,100%;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  background-attachment: cover;
  background-image: url(../img/1.jpeg);
  background-size: contain;

}
*/
body {

  /*margin-left: 16px;*/

  text-align: center;


  left: 0;
  right: 0;

  background: url(../img/1.jpeg) no-repeat;
  background-size:100%,100%;


  background-size: cover;
  position: relative;
}

#page {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

.center{
    position:absolute;
    width:780px;
    height:650px;
    left:50%;
    top:50%;
    margin-left:-390px;
    margin-top:-325px;
}

input {
  line-height: normal;
  opacity: 0.35;
  font-weight: bold;
  color: black;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  opacity: 0.3;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    opacity: 0.8;
  }

.center {
text-align: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  opacity: 0.5;
}


h1,
.h1 {
  font-size: 36px;
  padding: 12px 12px;
  font-weight: bold;
  padding-bottom: 2px;
  padding-top: 2px;
}


.display-3 {
  font-weight: bold;
}

.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 11px;
}

.opacity {
  opacity: 0.5;
  width:139px;
  height:35px;
}

#footer{
 position:fixed;
 bottom:0;
 left:0;
}


.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 20px 20px;
  font-size: 39px;
  line-height: 20px;
  font-weight: bold;
  padding-top: 25px;
}
