{% extends "flights/searchheader.html" %}

{% block content %}

<style>
  body{
    background-image: url(../static/flights/img/aboutcover.jpg);
    background-size:100%,100%;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
</style>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="color:BLACK;"><u>AirOnTime</u></a>
    </div>

    <ul class="nav navbar-nav navbar-right" style="font-size:15px;">
      <li><a href="/"><b>Home</b></a></li>
      <li><a href="/about/"><b><u>About</u></b></a></li>
      <li><a href="/contact/"><b>Contact</b></a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
<br>

  <div class="jumbotron"/>
  <center>
    <h1 style="text-align:center;">- Our Mission -</h1>
    <h3> To make sure that you get the most out of your time </h3>
    <h4> To make sure that you don't have to wait for your flights and that you are always on time <h4>
    <br>
  </center>
  </div>

  <div class="well well-lg" style="font-size: 19px">
    <br>
    <p><strong> We make sure that you don't have to wait for your flights and that you are always on time. </strong></p>
    <p> Are you tired of waiting at airports for delayed flights? </p>

    <p> Do you wish that there just existed a way to easily check how reliable a particular flight is so that you could make an informed choice?</p>
    <hr class="m-y-2">
    <p><strong>AirOnTime</strong> is a website that enables you to enter the flight number of the flight you are looking forward to book and quickly shows you how often that particular flight is delayed and what are the other reliable options for the same route.</p>
    <p><strong>Knowing the On Time Reliability of your flight can help you make better decisions and manage your time well.</strong></p>

    <p> You just enter your flight number, departure and arrival airport codes and hit search...</p>

    <hr class="m-y-2">
    <p><a href="/contact/">Contact Us</a></p>



  </div>

  <div id="container-fluid">
     <!--<div id="header"></div>
     <div id="body"> </div> -->
    <div id="footer">
      <p class="h5" style="margin-left:10px; color:GREY;">A product by <a href="https://github.com/a-sahdev" target="_blank">Amber Sahdev</a> and
      <a href="https://github.com/zacode11" target="_blank"> Zac Codiamat</a></p>

    </div>
  </div>




{% endblock %}
