{% extends "flights/searchheader.html" %}

{% block content %}

<style>
  body{
    background-image: url(../static/flights/img/2.jpeg);
    background-size:100%,100%;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
</style>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="color:#007acc;"><u>AirOnTime</u></a>
      </div>

      <ul class="nav navbar-nav navbar-right" style="font-size:15px;">
        <li><a href="/"><b>Home</b></a></li>
        <li><a href="/about/"><b>About</b></a></li>
        <li><a href="/contact/"><b><u>Contact</u></b></a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
  <br>


  <div class="jumbotron">
  <center>
    <h1 style="text-align:center;">- Contact Us -</h1>
    <br>
    <h4> Email us at <a href="mailto:airontime@protonmail.com" target="_top">airontime@protonmail.com</a></h4>
    <br>
    <h4> Call us at +408-650-4091 </h4>
    <br>
    <br>
  </center>
  </div>




{% endblock %}
