<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'flights/css/custom.css' %}" >

  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- -->
  <link rel="icon" href="../static/flights/img/favicon.ico">

  <title>AirOnTime</title>
  <meta name="description" content=" AirOnTime. Check your flight's on time reliability. See how often your flight is delayed or on time and by how much. Check whether your flight will be late. ">
  <meta name="keywords" content="AirOnTime, airontime, flight, flight statistics, flight stats, flight tracking, on time performance, on time reliability, airplane, travel, flight booking">
  <meta name="author" content="AirOnTime, Amber Sahdev, Zac Codiamat">
</head>


  {% block content %}

  {% endblock %}

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
</html>
