{% extends "flights/header.html" %}

{% block content %}

{% if messages %}
{% for message in messages %}
  <div class="alert alert-danger text-center">
    {{ message }}
  </div>
{% endfor %}
{% endif %}


<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="color:#007acc;">AirOnTime</a>
      </div>

      <ul class="nav navbar-nav navbar-right" style="font-size:15px;">
        <li><a href="/"><u>Home</u></a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>



    <br><br><br>
    <!--
    <h3 ><mark style="color:#007acc; opacity: 0.70;">Want to know how reliable your flight is?</mark></h3>
    <h3 ><mark style="color:#007acc; opacity: 0.70;">Enter your flight information</mark></h3>
    -->
    <h3 style="color:#007acc;">Want to know how reliable your flight is?</h3>
    <h3 style="color:#007acc;">Enter your flight information</h3>



    <form class="form-inline" method="post"> {% csrf_token %}
      <select class = "opacity" name="airline">
        <option value="select">Select Airlines</option>
        <option value="AA">American Airlines</option>
        <option value="AC">Air Canada</option>
        <option value="AS">Alaska Airlines</option>
        <option value="G4">Allegiant Airlines</option>
        <option value="CO">Continental Airlines</option>
        <option value="DL">Delta Airlines</option>
        <option value="MQ">Envoy Air</option>
        <option value="F9">Frontier Airlines</option>
        <option value="HA">Hawaiian Airlines</option>
        <option value="B6">JetBlue Airlines</option>
        <option value="OO">SkyWest Airlines</option>
        <option value="WN">Southwest Airlines</option>
        <option value="NK">Spirit Airlines </option>
        <option value="UA">United Airlines</option>
        <option value="VX">Virgin America</option>
        <!--<option value="FA">Fake test airline</option> -->
      </select>

      <div class ="btn-group">
        <div class="input-group form-group">
          <span class="input-group-addon">
             <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
          </span>
          <input id="Flight Number" type="text" value ="{{ current_flightnumber}}" class="form-control" name="flight" placeholder="Flight Number" style="width: 299px;" maxlength="4">
        </div>
      </div>

    <br>

      <div class ="btn-group form-inline" >
        <div class="input-group form-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </span>
          <input id="departure" type="text" value="{{ departure_code }}" class="form-control" name="departure" placeholder="Departure Airport" style="width: 200px;" maxlength="3">
        </div>
      </div>

      <div class ="btn-group form-inline">
        <div class="input-group form-group">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-arrow-down"></span>
          </span>
          <input id="arrival" type="text" value="{{ arrival_code }}" class="form-control" name="arrival" placeholder="Destination Airport" style="width: 200px;" maxlength="3">
        </div>
      </div>

    <br><br>

      <div class="btn-group">
          <button type="submit" class="btn btn-primary btn-lg">
           Search for
           <br>
           <b style="font-size : 19.5px;">On Time Reliability</b>
           <br>
          </button>
      </div>
    </form>

  <br>


  <div id="container-fluid">

  </div>

{% endblock %}
