{% extends "flights/searchheader.html" %}

{% block content %}

<div>
<h1><a href = "/"><i>AirOnTime</i></a></h1>
</div>

  <div class="jumbotron"/>
    <h2 class="h2">{{airline}}</h2>
    <p class="lead"><i>Flight Number: {{flight_id}}</i></p>
    <p><i>From:</i> {{departure}} <i>To:</i> {{arrival}}</p>
    <hr class="m-y-2">
    <p class="lead">
      <h3 font-size = "35">On Time Reliability: <b> {{rating}}% </b></h3>
    </p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{ rating }}" aria-valuemin="0" aria-valuemax="100" style="width: {{rating}}%">
        <span>{{ rating }}%</span>
      </div>
    </div>
  </div>

<!--  ______________________________________________________________         -->
<div class="well well-lg">
<p class = "badge">Other Flights That Fly on The Same Route</p>

{% for flight_id, unique_carrier, fl_num, origin, dest, OTR, airline_name, airline_url in all_results %}

  <ul class="media-list">
    <li class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object img-circle" src="/static/flights/img/{{airline}}.jpeg" alt="icon" height="65" width="65">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{airline_name}} </h4>
        <h4> {{unique_carrier}} {{ fl_num }}</h4>
        <p class="list-group-item-text"><i>From: {{ origin }} To: {{ dest }}</i></p>
        <p class="list-group-item-text">On time reliability: {{ OTR }}% </p>
        <!-- <p> {{all_results}} </p> -->
        <!-- <p> {{flight_id}} , {{ departure }} , {{arrival}} , {{airline}}, {{rating}}, {{all_results}}, {{airline_name}}, {{mellow}} </p> -->
        <!-- TODO --> <!-- <p class="list-group-item-text">Departs at {{depart}}</p> -->
        <!-- TODO --> <!-- <p class="list-group-item-text">Arrives at {{depart}}</p> -->
        <a href= "{{url}}" target="_blank"><p class="list-group-item-text badge">Book it</p> </a>
        <br><br>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{OTR}}" aria-valuemin="0" aria-valuemax="100" style="width: {{OTR}}%">
            <span>{{ OTR }}%</span>
          </div>
        </div>

      </div>
    </li>
  </ul>
  <hr class="m-y-2">

{% endfor %}

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

</div>

<br>


<footer>
  <p class = "h5"> Created by <a href="https://github.com/a-sahdev" target="_blank"> Amber Sahdev </a> and
  <a href="https://github.com/zacode11" target="_blank"> Zac Codiamat </a></p>
</footer>

{% endblock %}
